Repository 66yurimi99/Z-ERO, pull requests merged in 2023-11, with the labels that each got.

#17 라즈베리파이에서 PC에 영상 전송
  SendVideo/receiver.py
  SendVideo/requirements.txt
  SendVideo/sender.py
  SendVideo/templates/index.html
Labels: RC Car

#34 [Server] DB 세팅 완료
  Server/ERD.png
  Server/README.md
Labels: Server

#35 [Server] DB 접근 API 구현
  Server/codes/config.php
  Server/codes/db.php
Labels: Server

#36 [Server] 웹 페이지 구현 - 실시간 로그 확인
  Server/codes/index.html
  Server/codes/logs.php
  Server/codes/styles.css
  Server/data/output_webpage.png
Labels: UI, Server

#38 [UI] Linux 환경 Setting 완료 및 기능 추가
  UI/code/UI.py
  UI/data/images/intel.png
  UI/requiremets.txt
Labels: UI

#41 [Server] README.md - 서버 작업 내용 및 환경 설정
  Server/README.md
  Server/data/ERD.png
Labels: Server

#42 [Server] ERD.png 수정 - 흰색 배경 추가
  Server/data/ERD.png
Labels: 🔧 fixed, Server

#43 [UI] 서버 링크 연동 추가 및 이미지 수정
  UI/code/UI.py
  UI/data/images/next.png
  UI/data/images/pause.png
  UI/data/images/server.png
  UI/data/images/start.gif
  UI/data/images/start.png
  UI/data/images/stop.png
  UI/requiremets.txt
Labels: ⛏ refactoring, UI

#46 [Server] DB 구조 변경: Control Table 추가
  Server/data/ERD.png
Labels: Server

#49 Motor Control Based on Segementation info
  Control_car/Autodrive_control.py
  Control_car/main.py
  Control_car/send_vid.py
  requirements.txt
Labels: RC Car

#51 [UI] 컨트롤 시스템 구현
  UI/code/UI.py
Labels: ✨ feature, UI

#54 [Server] 서비스 간 통신
  Server/socket/__init__.py
  Server/socket/socket_client.py
  Server/socket/socket_server.py
Labels: Communication, Server

#57 [DMS] 통신용 코드 및 README.md, requirements.txt 작성
  DMS/README.md
  DMS/codes/app.py
  DMS/codes/dms.py
  DMS/codes/ov.py
  DMS/requirements.txt
Labels: DMS
